node_modules/
dist/
.angular/
*.log
.DS_Store
.env
.vscode/
.idea/

backend/*/target/
backend/*/.mvn/
backend/*/mvnw
backend/*/mvnw.cmd
backend/*/.settings/
backend/*/.classpath
backend/*/.project

uploads/
*.class
*.jar
*.war
